.transparent{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.selected{
    -fx-border-color: orange;
    -fx-border-width: 3;
    -fx-background-radius: 3;
    -fx-background-color: orange;
}

.pressed{
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-background-radius: 3;
    -fx-background-color: white;
}