.currentteleportpanel {
    -fx-background-image:url('Resources/teleport_panel.png');
    -fx-background-size: 100% 100%
}

.activepanel {
    -fx-background-image:url('Resources/active.png');
    -fx-background-size: 100% 100%;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-highlight-text-fill: rgba(0, 0, 0, 1);
}

.crazypanel {
    -fx-background-image:url('Resources/crazy.png');
    -fx-background-size: 100% 100%;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-highlight-text-fill: rgba(0, 0, 0, 1);
}

.sectorpanel {
    -fx-background-image:url('Resources/sector.png');
    -fx-background-size: 100% 100%;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-highlight-text-fill: rgba(0, 0, 0, 1);
}

.closepanel {
    -fx-background-image:url('Resources/close.png');
    -fx-background-size: 100% 100%;
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-highlight-text-fill: rgba(0, 0, 0, 1);
}